<div data-page="index" class="page">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="left"><a class="open-panel icon-only "><i class="icon icon-bars"></i></a></div>
	    <div class="center">USER</div>
	  </div>
	</div>
	<div class="page-content">
	  <div class="content-block-title x_head_home">
	  	<label style="color:#E3A703">Name</label> <br><br> {{profile[0].display_name}}
	  	<br>
	  	<br>
	  	<br>
	  	
	  	<label style="color:#E3A703">Email</label> <br><br> {{profile[0].email}}
	  	<br>
	  	<br>
	  	<br>
	  	<label style="color:#E3A703">Company</label>  <br><br> {{profile[0].company_id[1]}}
	  	<br>
	  </div>
	  

	</div>
</div>
